/* GENERAL */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html {
	margin: auto;
	width: 90%;
}

footer, h1, h2, h3, td, #levelChoice {
	text-align: center;
}

/* HEADER */

#gameRules, #explanation, #levelChoice, #checkBox {
	border: 2px solid #000;
	margin: 0 200px 30px;
}

#gameRules, #explanation {
	padding: 10px;
	text-align: justify;
}

	/* HEADER #explanation */

.lightBlue {
	color: #add8e6;
}

.empty {
	color: #ffa500;
}

.right {
	color: #00ff00;
}

.false {
	color: #ff0000;
}

	/* HEADER #levelChoice */

#checkBox {
	text-align: left;
	margin: 0 20% 10px;
	padding: 10px;
	background-color: #87ceeb;
}

#validate {
	margin-bottom: 10px;
}

/* MAIN */

	/* MAIN - Grille du Sudoku */

table, td {
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
}

table {
	margin: auto;
}

td {
	color: #808080;
	width: 3rem;
	height: 3rem;
}

td:nth-child(3), td:nth-child(6) {
	border-right: 1px solid #0000ff;
}

tr:nth-child(3) td, tr:nth-child(6) td {
	border-bottom: 1px solid #0000ff;
}

	/* MAIN - Boutons de Jeu */

#allButtons {
	text-align: center;
	margin-top: 10px;
}

.buttons {
	margin: 10px;
}

	/* MAIN - Couleur qui montre que la case est sélectionnée */

#skyBlue {
	background-color: #f0f8ff;
}

	/* MAIN - Messages de validation ou non de la grille complétée */

#gridOk {
	display: none;
	text-align: center;
	color: #008000;
}

#gridError {
	display: none;
	text-align: center;
	color: #ff0000;
}

/* MEDIUM SCREEN WIDTH */

@media screen and (max-width: 1000px) {
	#gameRules, #explanation, #levelChoice {
		margin: 0 10px 30px;
	}
	#checkBox {
		margin: 0 200px 30px;
	}
}

/* SMALL SCREEN WIDTH */

@media screen and (max-width: 625px) {
	td {
		width: 2rem;
		height: 2rem;
	}
	#gameRules, #explanation, #levelChoice {
		margin: 0 2px 15px;
		padding: 2px;
	}
	#checkBox {
		margin: 0 20px 30px;
	}
	h1, h2 {
		font-size: 15vw;
	}
	h3, label {
		font-size: 9vw;
	}
}