/*GENERAL*/

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html {
	margin: auto;
	width : 90%;
}

body {
	font-size: 100%;
}

table {
	margin: auto;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.5rem;
}

h1, h2, h3 {
	text-align: center;
}

td {
	color : #ff0000;
	background-color: #ffffe0;
}


td,table {
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
}

td {
	width: 3em;
	height: 3em;
	text-align: center;
}

td:nth-child(3), td:nth-child(6) {
	border-right: 1px solid #0000ff;
}

tr:nth-child(3) td, tr:nth-child(6) td {
	border-bottom: 1px solid #0000ff;
}

#skyBlue {
	background-color: #87ceeb;
}

#figureChoice {
	text-align: center;
}
/*.vert {
	background-color: green;
	color: pink;
}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
	background-color: #0000ff;
}

tr:nth-child(even) td:nth-child(even).rouge, tr:nth-child(odd) td:nth-child(odd).rouge {
	background-color: red;
}*/


